.img{
  display: inline-block;
  width: 100%;
  height: auto;;
}


.loading {
  position: absolute;  
  top:49%;;
  left: 49%;
  margin-left: auto;
  margin-right: auto;
  color:#fff;   
  opacity: 0.7;  
  z-index:9999;  
}

.success{
  background-color: #dff0d8;
}

.center{
  text-align: center;
}

.other-input{
  padding: 0px 12px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.other-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.other-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.other-input:-ms-input-placeholder {
  color: #999;
}
.other-input::-webkit-input-placeholder {
  color: #999;
}
.other-input::-ms-expand {
  border: 0;
  background-color: transparent;
}